    // Set Var
    $display_height: 350px;
    $ws_size: 10em;
    // Colors
    $green: #066611;
    $lime_green: #99f927;
    /* General Styles */
    
    * {
        font-family: 'ArcadeClassic' !important;
        color: $lime_green;
    }
    /* Helpers */
    
    .hidden {
        display: none;
    }
    
    body {
        background-color: $green;
        #Banner {
            img {
                max-width: 100%;
                height: 200px;
                display: block;
                margin: 0 auto;
            }
        }
        #DisplayWrapper {
            border: 2px solid $lime_green;
            border-radius: 10px;
            text-align: center;
            height: $display_height;
            #Right {
                border-left: 1px solid $lime_green;
            }
            #CurrentWord {
                span {
                    padding: 5px;
                }
            }
            #UsedLetters {
                span {
                    padding: 5px;
                }
            }
        }
        #GameEnded {
            text-align: center;
            height: $display_height;
            #EndMsg {
                font-size: 10em;
            }
            #TheWord {
                font-size: 5em;
            }
        }
    }