/* General Styles */
* {
  font-family: 'ArcadeClassic' !important;
  color: #99f927;
}

/* Helpers */
.hidden {
  display: none;
}

body {
  background-color: #066611;
}

body #Banner img {
  max-width: 100%;
  height: 200px;
  display: block;
  margin: 0 auto;
}

body #DisplayWrapper {
  border: 2px solid #99f927;
  border-radius: 10px;
  text-align: center;
  height: 350px;
}

body #DisplayWrapper #Right {
  border-left: 1px solid #99f927;
}

body #DisplayWrapper #CurrentWord span {
  padding: 5px;
}

body #DisplayWrapper #UsedLetters span {
  padding: 5px;
}

body #GameEnded {
  text-align: center;
  height: 350px;
}

body #GameEnded #EndMsg {
  font-size: 10em;
}

body #GameEnded #TheWord {
  font-size: 5em;
}
