/* Fonts */
/* oswald-regular - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald/oswald-v16-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Oswald Regular"), local("Oswald-Regular"), url("../fonts/oswald/oswald-v16-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/oswald/oswald-v16-latin-regular.woff2") format("woff2"), url("../fonts/oswald/oswald-v16-latin-regular.woff") format("woff"), url("../fonts/oswald/oswald-v16-latin-regular.ttf") format("truetype"), url("../fonts/oswald/oswald-v16-latin-regular.svg#Oswald") format("svg");
  /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto/roboto-v18-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto/roboto-v18-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v18-latin-regular.woff2") format("woff2"), url("../fonts/roboto/roboto-v18-latin-regular.woff") format("woff"), url("../fonts/roboto/roboto-v18-latin-regular.ttf") format("truetype"), url("../fonts/roboto/roboto-v18-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto/roboto-v18-latin-900.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Black"), local("Roboto-Black"), url("../fonts/roboto/roboto-v18-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v18-latin-900.woff2") format("woff2"), url("../fonts/roboto/roboto-v18-latin-900.woff") format("woff"), url("../fonts/roboto/roboto-v18-latin-900.ttf") format("truetype"), url("../fonts/roboto/roboto-v18-latin-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* General Styles */
* {
  font-family: 'Roboto', sans-serif;
  color: #99f927;
}

/* Index */
body {
  background-color: #066611;
}

body #Banner img {
  max-width: 100%;
  height: 200px;
  display: block;
  margin: 0 auto;
}

body #DisplayWrapper {
  border: 2px solid #99f927;
  border-radius: 10px;
  text-align: center;
  height: 350px;
}

body #DisplayWrapper #Right {
  border-left: 1px solid #99f927;
}

body #DisplayWrapper #CurrentWord span {
  padding: 5px;
}

body #DisplayWrapper #UsedLetters span {
  padding: 5px;
}

body #GameWin {
  font-size: 5em;
  text-align: center;
}

body #GameOver {
  font-size: 5em;
  text-align: center;
}
