/* Helpers */
.hidden {
  display: none !important;
}

/* Animations */
.animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
  0%,
  100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

/* General Styles */
* {
  font-family: 'ArcadeClassic' !important;
  color: #99f927;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  background-color: #066611;
}

body .wrapper {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

body .wrapper #Banner img {
  width: 100%;
}

body .wrapper #GameDisplay {
  border: 2px dashed #99f927;
  border-radius: 10px;
  text-align: center;
}

body .wrapper #GameDisplay #Left {
  height: 400px;
}

body .wrapper #GameDisplay #Left #TheHangman {
  max-height: 400px;
  width: auto;
  display: block;
  margin: 0 auto;
}

body .wrapper #GameDisplay #Right {
  height: 400px;
}

body .wrapper #GameDisplay #Right .row {
  height: 25%;
}

body .wrapper #GameDisplay #CurrentWord span {
  padding: 5px;
  font-size: 2.3em;
}

body .wrapper #GameDisplay #UsedLettersDisplay span {
  padding: 5px;
}

body .wrapper #GameEndedDisplay {
  text-align: center;
  height: 400px;
}

body .wrapper #GameEndedDisplay #EndMsg {
  font-size: 10em;
  font-size: 8vw;
}

body .wrapper #GameEndedDisplay #TheWord {
  background-color: #99f927;
  color: #066611;
  font-size: 5em;
  font-size: 8vw;
  border: 2px solid #99f927;
  border-radius: 25px;
}

/* Quaries */
@media only screen and (max-width: 768px) {
  body .wrapper {
    min-height: 0;
    min-height: 0;
    display: block;
    align-items: unset;
  }
  body .wrapper #MobileStart {
    padding: 10px 20px;
    border: 2px dashed #99f927;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s all;
    width: max-content;
    display: block;
    margin: 0 auto;
  }
  body .wrapper #MobileStart:hover {
    background-color: #99f927;
    color: #066611;
  }
  body .wrapper #MobileKeyboard {
    margin: 0 auto;
    display: block;
    text-align: center;
    padding: 20px 0;
  }
  body .wrapper #MobileKeyboard ul li {
    display: inline-block;
    font-size: 1em;
    padding: 2px 7px;
    border: 2px dashed #99f927;
    border-radius: 5px;
    margin: 0 5px;
    transition: 1s all;
    cursor: pointer;
  }
  body .wrapper #MobileKeyboard ul li:hover {
    background-color: #99f927;
    color: #066611;
  }
  body .wrapper #MobileKeyboard ul li.key-disabled {
    background-color: #99f927;
    color: #066611;
  }
}
